.text{color: rgb(255,255,255); font-size:125}
.panel{background-color:red; width:1000; height:350; position:absolute; left:175; top:200; font-size: x-large;opacity: 0.3; }
.panel:hover{opacity: 1;}
.foto{width:25; height:25; position:absolute; left:850; top:250;opacity: 1; }
h1:hover{color:white}
.decopanel{background-color:red; width:1000; height:150; left:8; top:10; opacity: 0.3; position:absolute}       
