.text{color: rgb(255,255,255); font-size:125}
.panel{background-color:red; width:1000; height:350; position:absolute; left:175; top:200; font-size: x-large;}
.foto{width:25; height:25; position:absolute; left:650; top:15}
h1:hover{color:white}